@import "tailwindcss";
@keyframes twinkle {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 1; }
}


.animate-twinkle {
  animation: twinkle infinite ease-in-out;
}

:root {
  --main-gradient: linear-gradient(135deg, #2a0c57, #262f8d);
  --background: #ffffff;
  --foreground: rgb(14, 11, 69);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: hsl(0, 0%, 80%);
  }
}

body {
  background: var(--main-gradient);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
